[CPU]
ARCH    = SSE2
CLASS   = P4
MHZ     = 3200
# Pointer Width in bits (Not well detected by ATLAS on Windows at least)
PW      = 32
[BUILD_OPTIONS]
TARGETS = lapack
#LAPACK_F77FLAGS = -O3,-funroll-loops
F77 = g77
